
body { margin: 0; background: #0f0f0f; color: #eaeaea; font-family: Arial, sans-serif; }
.container { display: flex; }
.sidebar { width: 28%; padding: 40px 20px; background: #0d0d0d; }
.profile-card { background: #151515; padding: 25px; border-radius: 20px; text-align: center; }
.profile-img { width: 150px; height: 150px; border-radius: 15px; object-fit: cover; margin-bottom: 15px; }
h1 { margin: 10px 0 5px; font-size: 26px; }
.role-badge { display: inline-block; padding: 6px 14px; border: 1px solid #f3c623; color: #f3c623; border-radius: 30px; font-size: 14px; margin-top: 5px; }

.circle-btn {
    display: inline-block;
    margin-top: 25px;
    width: 55px;
    height: 55px;
    background: #888;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-icon { width: 28px; }

.content { width: 72%; padding: 40px; }
.section-card { background: #151515; padding: 30px; border-radius: 20px; margin-bottom: 25px; }
.section-title { font-size: 28px; margin-bottom: 20px; }
.skills li { margin: 8px 0; font-size: 16px; }
